<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- Preferred application list to open on startup. -->
	<add key="AppListFile" value=""/>
	<!-- Location to store downloaded packages.  -->
	<add key="DownloadCache" value=""/>
	<!-- Default location to install packages.  Only applies to zip file installations. -->
	<add key="InstallationRoot" value=""/>
	<!-- Alternate location to search for installation packages. -->
	<add key="AlternateDownloadLocation" value=""/>
  </appSettings>
</configuration>